<footer class="site-footer">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="inner">
          <p>Made with <3</p>
        </div>
      </div>
    </div>
  </div>
</footer>